@model Red_Lake_Hospital_Redesign_Team6.Models.DepartmentsDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h3>Are you sure you want to delete this Department?</h3>

@using (Html.BeginForm("Delete", "Department", FormMethod.Post))
{
    @Html.HiddenFor(model => model.DepartmentId)
    <div class="card department-card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">@Model.DepartmentName</h3>
            <div class="department-button">
                <input type="hidden" name="id" value="@Model.DepartmentId" />
                <input type="submit" value="Delete" class="btn btn-primary department-button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListDepartments")
</div>