@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Incomplete Form";
}

<h1 class="text-danger">Error - Incomplete Form or Unacceptable Data.</h1>
<h2 class="text-danger">Please complete all required form fields and resubmit.</h2>



