@model Red_Lake_Hospital_Redesign_Team6.Models.FeedbackModel

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete Feedback</h2>

<div class="navbar">
    <a class="navlink" href="/Feedback/AdminShow/@Model.feedback_id">Back</a>
</div>

<h2> Are you sure you want to delete @Html.DisplayFor(model => model.title) ? </h2>

<form method="POST" action="/Feedback/Delete/@Model.feedback_id">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>
