

@{
    ViewBag.Title = "JobApplicationDelete";
}

<h2>Job Application Deletion</h2>
<p class="text-danger">*** This area is restricted to administrative users only ***</p>
<hr />

<div>
    <h4>Delete Confirm</h4>
    <p>Are you sure you wish to delete Job Application No. @ViewData["id"]? This action is permanent.</p>
    <a class="btn btn-danger"href="/JobsView/adminJobApplicationsDeleteConfirmed/@ViewData["id"]">Delete</a>
    <hr />
</div>

<p>
    @Html.ActionLink("Back to Job Applications List", "adminJobApplicationsList")
</p>