@{
    ViewBag.Title = "JobPostingCreate";
}

<h2>Job Posting Created</h2>

<div>
    <h4>Success</h4>
    <p>Your new job positng has been recorded.</p>
    <hr />
</div>

<p>
    @Html.ActionLink("Back to Job Postings List", "adminJobPostingsList")
</p>
